@import '../../styles/colors';

.Container {
  .ProjectCard {
    height: 500px;
    box-sizing: border-box;
    padding: 50px;
    margin-bottom: 40px;
    display: flex;

    a {
      display: flex;
      flex-direction: column;
      flex-grow: 1;

      .Content {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .Title {
          margin: 10px 0;
        }
      }
    }
  }

  .ElavonCard,
  .Liv2BGirlCard {
    .Demo {
      margin: 0 auto;
    }

    .Content {
      margin-top: auto;
    }
  }

  .SpotifyCard {
    background: $purple;
  }

  .ElavonCard {
    background: $blue;
  }

  .Liv2BGirlCard {
    background: $yellow;
  }
}

@media (max-width: 1200px) {
  .SpotifyCard {
    .Demo {
      display: none !important;
    }

    .Demo2 {
      margin: 0 auto;
    }

    .Content {
      margin-top: auto;
    }
  }
}

@media (min-width: 1201px) {
  .SpotifyCard {
    .Demo {
      margin: 0;
      margin-right: 50px;
    }

    .Demo2 {
      display: none !important;
    }

    a {
      flex-direction: row !important;
    }

    .Content {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}

@media (max-width: 700px) {
  .Container {
    .ProjectCard {
      padding: 20px;

      .Demo,
      .Demo2 {
        margin: auto;
      }
    }
  }
}

.TwoCol {
  @media (min-width: 1210px) {
    display: flex;

    .ProjectCard {
      width: 550px;

      &:last-child {
        margin-left: 40px;
      }
    }
  }

  .ProjectCard:last-child {
    margin-bottom: 0;
  }
}
