@import '../../styles/colors';

.Container {
  .ProjectCard {
    margin-bottom: 40px;
  }

  .TwoCol:last-child {
    .ProjectCard:last-child {
      margin-bottom: 0;
    }
  }
}

.TwoCol {
  @media (min-width: 1210px) {
    display: flex;

    .ProjectCard {
      width: 550px;

      &:last-child {
        margin-left: 40px;
      }
    }
  }
}

.ProjectCard {
  height: 500px;
  box-sizing: border-box;
  border: 3px solid $black;
  display: flex;
  flex-direction: column;

  a {
    text-decoration: none;
    color: $black;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .Demo {
    margin: auto;
  }

  .Content {
    padding: 0 20px 30px 20px;

    .Title {
      margin: 16px 0;
      line-height: 42px;
    }

    .Next {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  }

  @media (min-width: 1210px) {
    background: transparent;
    color: $black;

    &:hover {
      .Spotify {
        background: $green;
      }

      .Elavon {
        background: $purple;
        color: $white;
      }

      .Liv2BGirl {
        background: $blue;
        color: $white;
      }

      .SlackBot {
        background: $red;
        color: $white;
      }

      .Npp {
        background: $yellow;
      }
    }
  }
}

.Spotify,
.Elavon,
.Liv2BGirl,
.SlackBot,
.Npp {
  display: inline;
  padding: 1px;
  word-wrap: break-word;
  position: relative;
}

.Spotify {
  background: $green;

  @media (min-width: 1210px) {
    background: transparent;
  }
}

.Elavon {
  background: $purple;
  color: $white;

  @media (min-width: 1210px) {
    background: transparent;
    color: $black;
  }
}

.Liv2BGirl {
  background: $blue;
  color: $white;

  @media (min-width: 1210px) {
    background: transparent;
    color: $black;
  }
}

.SlackBot {
  background: $red;
  color: $white;

  @media (min-width: 1210px) {
    background: transparent;
    color: $black;
  }
}

.Npp {
  background: $yellow;

  @media (min-width: 1210px) {
    background: transparent;
  }
}
