@import '../colors';

.Intro {
  margin-bottom: 10px;
}

.Header2 {
  margin-bottom: 30px;
}

.Intro2 {
  margin-bottom: 40px;
}

.IntroHead {
  display: flex;
  flex-direction: column-reverse;

  .Pic {
    margin: 30px auto;
    min-width: 300px;
  }

  @media (min-width: 700px) {
    margin-top: 10px;

    flex-direction: row;
    .Intro,
    .Intro2 {
      margin-right: 30px;
    }

    .Pic {
      margin: 0 auto;
    }
  }
}
