@import '../colors';

.Header {
  display: inline;
  padding: 1px;
  word-wrap: break-word;
  position: relative;
  line-height: 58px;
}

.Spotify {
  background: $green;
}

.Elavon {
  background: $purple;
  color: $white;
}

.Liv2BGirl {
  background: $blue;
}

.SlackBot {
  background: $red;
  color: $white;
}

.Npp {
  background: $yellow;
}

.Content {
  margin-top: 20px;

  h4 {
    margin-bottom: 10px;
  }

  .Bold {
    font-weight: bold;
    margin-bottom: 0;
  }

  .Link {
    display: flex;
    text-decoration: none;
    color: $black;

    h4 {
      font-weight: bold;
      margin-right: 15px;
    }

    &:first-child {
      h4 {
        margin-bottom: 20px;
      }
    }
  }
}
